$color-white: #ffffff;
$color-white-2: rgba(255, 255, 255, 0.1);
$color-orange: #f8aa0be5;
$color-purple: #eda7ffe5;
$color-purple-2: rgb(133 80 87);
$color-purple-3: rgba(83, 0, 105, 0.47);
$color-black-gray: #1a0031cc;

$font-rubik-regular: 'RubikRegular';
