@font-face {
  font-family: 'RubikRegular';
  src: url('../assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*,
::after,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
